<head>
   <title>Smail</title>
   
</head>
<body>
   <!--image to the left-->
   <div class="image-container" style="float:left;width:35%;">
      
   </div>
   <!--Image to the right-->
   <div class="image-container" style="float:right;width:35%;">
      
   </div>
   <!--Class center with form-container amkes the form centered-->
   <div class="centered">
      <div class="form-container">
         <h1>Smail</h1>
         <form action="" method="post" novalidates>
            {{form.hidden_tag()}}
            <p> {{form.username.label}} <br>
               {{form.username(size=32)}}</p>
   
            <p> {{form.password.label}} <br>
               {{form.password(size=32)}}</p>
   
            {% if error %}
               <p>{{ error }}</p>
         {% endif %}
   
            <p>{{form.submit(class = "btn btn-secondary")}}</p>
   
            <a href="{{ url_for('register') }}" class="btn btn-primary">Create Account</a>
         </form>
      </div>
   </div>
</body>
